<tr>
  <td><%= link_to "lookup", album_lookup_path(playlist_id: @playlist.id, link: album.link), remote: true, class: "btn btn-primary loadonclick"  %></td>
  <td><%= truncate(album.name , :length => 40, :omission => '...') %></td>
  <td><%= link_to "album", album.link, class: "btn" %></td>
</tr>
