<ul class="navbar-nav mr-auto">
  <% if signed_in? %>
    <li class="nav-item active">
      <%= link_to('Sign out', signout_path, :method=>'delete', :class => 'nav-link') %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to('Sign in', signin_path, :class => 'nav-link')  %>
    </li>
  <% end %>
  <% if signed_in? %>
    <li class="nav-item">
      <div class="nav-link disabled">Signed in as:</div>
    </li>
    <li class="nav-item">
      <%= gravatar_for(current_user) %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to('Sign up', new_user_path, :class => 'nav-link')  %>
    </li>
  <% end %>
</ul>
